<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Representation by Didik</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-4">
      <h1>Records</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <th scope="row">{{ record.id }}</th>
            <td>{{ record.title }}</td>
            <td><a href="{{ url_for('word_vector', record_id=record.id) }}" class="btn btn-primary">View Word Vector</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
